.LunchItem {
  margin-bottom: 0.5em;
  border: 1px solid #aaa;
  padding: 1em;
}

.LunchItemName {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.LunchItemPriceRange {
  margin-bottom: 0.5em;
}

.LunchItemDescription {
  margin-bottom: 0.5em;
}

.LunchItemFooter {
  font-size: 0.75em;
}
.LunchItemFooter a {
  margin-right: 0.5em;
  padding: 0.5em 0;
}

.LunchItemFooterAddress {
  margin-bottom: 0.5em;
}

.LunchItemMealList {
  margin-bottom: 0.5em;
}

.MealItem {
  display: flex;
  margin-bottom: 0.25em;
}

.MealItemName {
  display: flex;
  flex: 1;
}
.MealItemName:after {
  content: '';
  flex: 1;
  border-bottom: dashed 1px #aaa;
  margin: 0 0.5em 0.4em;
}

.MealItemPrice {
  flex: 0;
  text-align: right;
}
