service cloud.firestore {
  match /databases/{database}/documents {
    match /lunches/{lunch} {
      allow read: if true;
    }
    match /suggestions/{suggestion} {
      allow create: if true;
    }
  }
}
